{% extends 'blitz/base.html' %}
{% load static %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
<script src="https://cdn.tailwindcss.com"></script>
{% endblock%}

{% block content %}
    <div class="main">
        <div class="alert" style="display: none;" role="alert">
            
        </div>
        <section class="test">
            <div class="title">
                <img src="{% static 'blitz/images/test_icon.png' %}" alt="test icon">
                <h2>Run test</h2>
            </div>
                
            

            <form action="#" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="url">URL</label>
                    <input class="input-field" type="text" name="url" id="url" placeholder="Enter an HTTP API endpoint to load test">
                </div>

                <div class="form-group">
                    <label for="url">Number of requests</label>
                    <input type="number" name="num_requests" id="num_requests" value="500">
                </div>
                
                <div id="run-load-test">-> Run load test</div>
            </form>                
        </section>

        <section class="results">
            <div class="title">
                <img src="{% static 'blitz/images/results_icon.png' %}" alt="test icon">
                <h2>Results</h2>
            </div>
            <div class="statistics">
                <p>Test duration: <span class="yellow" id="duration">45</span>s</p>
                <p>Number of requests: <span class="yellow" id="number_of_requests">50000</span></p>
                <p>Average Latency: <span class="yellow" id="avg_latency">20</span>ms</p>

                <p>Average Memory Usage: <span class="yellow" id="memory">500</span>MB</p>
                <p>Average CPU Usage: <span class="yellow" id="cpu">45</span>%</p>
                <p>Requests per second: <span class="yellow" id="rps">10 </span>RPS</p>

                <p>Successful Requests: <span class="green" id="num_successful">300</span></p>
                <p>Failed Requests: <span class="red" id="num_failed">200</span></p>
                <p>Average Response Time: <span class="yellow" id="avg_response_time">10</span>ms</p>

                <p>Min Response Time: <span class="green" id="min_response_time">10</span>ms</p>
                <p>Max Response Time: <span class="red" id="max_response_time">10</span>ms</p>
                <p>Median Response Time: <span class="yellow" id="median_response_time">10</span>ms</p>
                
            </div>
            <div class="graphs">
                <div class="chart-container">
                    <canvas class="graph" id="cpu_graph"></canvas>
                </div>
                <div class="chart-container">
                    <canvas class="graph" id="memory_graph"></canvas>
                </div>
                <div class="chart-container">
                    <canvas class="graph" id="response_time_graph"></canvas>
                </div>
                <div class="chart-container">
                    <canvas class="graph" id="network_graph"></canvas>
                </div>
                <div class="chart-container">
                    <canvas class="graph" id="active_threads_graph"></canvas>
                </div>
            </div>
                
        </section>
    </div>
{% endblock %}

